extends commons/base

block style
    link(href="${relativePath}/static/js-3rd/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="${relativePath}/static/css/common.css", rel="stylesheet")
    link(href="${relativePath}/static/css/index.css", rel="stylesheet")

block content
    div.background
        div.cover
    header.navbar.navbar-inverse.header
        div.container
            div.navbar-header
                span.words-logo Qianli
